
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
//@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
///@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $ASWebUI-primary: mat.define-palette(mat.$indigo-palette);
// $ASWebUI-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $ASWebUI-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $ASWebUI-theme: mat.define-light-theme((
//   color: (
//     primary: $ASWebUI-primary,
//     accent: $ASWebUI-accent,
//     warn: $ASWebUI-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include mat.all-component-themes($ASWebUI-theme);

@use "./customMaterialTheme" as cmt;
@use "./assets/Fonts/customfonts.css";


:root{
  --primary: #{cmt.$primary};
  --primary-light: #{cmt.$primary-light};
  --accent: #{cmt.$accent};
  --top-space: 3rem;

}
//$background: cmt.get-color;

* {
  //font-family: "mont";

  font-family: "mont", "Helvetica Neue", sans-serif;
  // box-sizing: border-box;
}

* ,*::before, *::after{
  box-sizing: border-box;
}

html,
body,
.approot {
  // overflow: auto;
  // margin-top: var(--top-space);
   background-color: var(--primary-light);
}
 

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.DisplayModal mat-dialog-container {
  background-color: var(--primary-light);//cmt.$primary-light !important;
  padding: 0 !important;
  // position: relative !important;
  // // padding: 100%;
  border-radius: .5rem;
  width: 60vw;
  height: 80vh;
  overflow: hidden;
  position: relative;

}

.roundBorders{
  border-radius: .25rem;
}

.cursorPointer{
  cursor: pointer;
}

th .mat-form-field-wrapper{
  flex-grow: 1;
  flex-shrink: auto;
  min-width: 10px;
  width: auto;
  max-width: auto;
  padding-bottom: 0;
}

form .mat-form-field-wrapper{
  padding-bottom: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

th .mat-form-field-infix{
  min-width: 5px;
  width: auto;
}

.container-fluid{
  margin: auto;
  width: 98%;
}