// //@use '~@angular/material' as mat;
// @use "src/customMaterialTheme.scss" as cmt;

.mat-toolbar   {
  
  background-color: var(--primary);
  padding: 0.5rem 1.5rem;
  .navbar-brand{
    color: white;
    text-decoration: none;
  }
  .navbarLinks {
    // display: flex;
    display: flex;
    flex-wrap: wrap;
    // background-color: orange;
    width: 100%;
    height: 100%;
    ul{
      display: inherit;
      margin: auto;
      // background-color: lightblue;
      list-style-type: none;
      li{
        padding: .5rem;
        a{
          color: white;
          opacity: 30%;
          font-size: 1rem;
          text-decoration: none;
        }
      }
    }
  }

}

.spacer {
  flex: 1 1 auto;
}
.expander-icon{
  display: none;
}

.active{
  opacity: 100% !important;
  // color: var(--accent) !important;
}

@media screen and (max-width: 600px) {
  .expander-icon{
    display: block;
  }
  .mat-toolbar   {
    .navbarLinks , .navbar-nav{
      .nav-links, .nav-auth, .navbar-text{
        display: none;
       
      }
    }
  
  }
}