<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="server=.\;Database=ASDatabase;Trusted_Connection=True;Integrated Security=True;TrustServerCertificate=True;" name="LocalSqlServer" providerName="System.Data.SqlClient" />
        <add connectionString="server=.\;Database=ASDatabase-Auth;Trusted_Connection=True;Integrated Security=True;TrustServerCertificate=True;" name="AuthDB" />
    </connectionStrings>
</configuration>
