<p>home works!</p>
<button class="btn btn-lg btn-primary">
    Click me
</button>
<button class="btn btn-lg btn-secondary">
    Click me
</button>

<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>

<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>

<button mat-stroked-button color="primary">Primary</button>
<button mat-stroked-button color="accent">Accent</button>
<button mat-stroked-button color="warn">Warn</button>

<mat-icon>home</mat-icon>
<mat-icon>menu</mat-icon>
<mat-icon>toggle_on</mat-icon>
<mat-icon>apps</mat-icon>
<mat-icon>download</mat-icon>
<mat-icon>css</mat-icon>


<app-testtable [data]="data"></app-testtable>