.componentTop {
  border-radius: 0.5rem 0.5rem 0 0;

  .table-top {
    position: relative;
    display: block;

    h1 {
      display: block;
      text-align: center;
      font-size: 2.5rem;
      margin: 0 auto;
      padding: 2rem 0;
      width: 30%;
    }

    .action-buttons {
      width: fit-content;
      margin: auto;
      padding: 1rem;

      button {
        &:not(:first-child) {
          margin-left: 0.5rem;
        }
      }
    }
  }

  .searchInput {
    width: 100%;
    margin: auto;
    padding: 1rem;
    .mat-form-field {
      width: 100%;
    }
  }
  .input-container {
    width: 100%;
    .invoiceInfo {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .invoiceInfo > * {
      padding: 1rem;
      flex-grow: 1;
    }
  }
}

.table-actions {
  display: flex;
  justify-content: center;

  button {
    margin: 0.25rem;
  }
  .mat-stroked-button{
    min-width: fit-content !important;
  }
}

.mat-form-field > .mat-form-field-wrapper {
  margin-bottom: -1.25em;
  padding: 0;
  background-color: black !important;
}

.tableContainer {
  background-color: white;
  // margin-top: var(--top-space);
}

.tableScroll {
  overflow: auto;
}

table {
  width: 100%;
  table-layout: auto;
  margin: 0;
  overflow: auto;
}

table,
.tableContainer {
  border-radius: 0.5rem;
}

.mat-row {
  td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


.mat-row {
    background-color: lighten(grey, 40%);
  td {
    max-width: 200px;
    width: fit-content;
    min-width: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 1rem;

    &:first-child {
      margin-left: 0;
      text-align: left;
      padding-left: 1rem;
    }

    &:last-child {
      margin-right: 0;
      padding: 0 0.5rem;
    }
  }
}


.mat-header-row {
  th {
    padding: 0 1rem;
    &:first-child {
      padding-left: 1rem;
    }
  }

  .filterInputs {
    padding: 0 0.25rem;
    flex-direction: row;
    &:first-child {
      padding-left: 0.5rem;
    }

    .clearButton {
      display: block;
      margin: 0 auto;
    }

    mat-form-field {
      display: flex;
    }
  }
}

th {
  button {
    min-width: 5px;
    padding: 0.1rem 0.7rem;
  }
}

.mat-row:nth-child(2n + 1) {
  background-color: white; //lighten(cmt.$accent, 40%);
}

.cursor-pointer {
  cursor: pointer;
}

tr.mat-row:hover {
  visibility: inherit;
}


mat-paginator {
  // visibility: visible;
  //bottom: 0;
  //position: sticky;
  border-radius: 0 0 0.5rem 0.5rem;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left{
  text-align: left !important;
}

@media (min-width: 768px) {
  .mat-row {
    max-width: 100px;
  }

  .action-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding-right: 1rem;

    button {
      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }

  
}
