
<div class="container ">
    <div class="innerContainer">

        <h1>Register</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm" class="form ">


            <div class="form-group firstName">
                <mat-form-field class="formfield" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
            </div>

            <div class="form-group lastName">
                <mat-form-field class="formfield" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
            </div>

            <div class="form-group userName">
                <mat-form-field class="formfield" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="userName">
                </mat-form-field>
            </div>

            <div class="form-group emailAddress">
                <mat-form-field class="formfield" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="emailAddress" required>
                    <mat-error *ngIf="emailAddress.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="emailAddress.hasError('email')">
                        Enter <strong>valid</strong> email
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group password">
                <mat-form-field class="formfield" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="passwordVisible ? 'text' : 'password'" required (input)="checkPasswords()">
                    <button mat-icon-button type="button" matSuffix (click)="passwordVisible = !passwordVisible" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="!passwordVisible">
                  <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                    <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>                    

                    
                    <mat-error *ngIf="!password.hasError('required')" >
                        Password should
                        <span *ngIf="password.hasError('minlength')"> at least be <strong>6 characters</strong> long </span>
                        
                        <span *ngIf="password.hasError('number')"> have at least <strong>one number </strong></span>
                        
                        <span *ngIf="password.hasError('case')">
                            have at least <strong>one Upper Case</strong> and <strong> one Lower Case </strong>
                        </span>
                        <span *ngIf="password.hasError('special')">
                            have at least <strong>one Special Character </strong>
                        </span>
                        <span *ngIf="password.hasError('space')">
                            <strong>not</strong> include <strong>spaces </strong>
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group confirmPassword">
                <mat-form-field class="formfield" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" type="password" required (input)="checkPasswords()">
                    <mat-error *ngIf="confirmPassword.hasError('required')">
                        Please <strong>confirm</strong> your password
                    </mat-error>
                    <mat-error *ngIf="confirmPassword.hasError('passwordMismatch') && !confirmPassword.hasError('required')">
                        Passwords dont <strong>match</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group permissions">
                <mat-form-field appearance="outline" class="formfield">
                    <mat-label>Permissions</mat-label>
                    <mat-select formControlName="userRoles" [compareWith]="compareFn" multiple required>
                    <mat-option *ngFor="let role of rolesOptions" [value]="role">{{role.name}}</mat-option>
                    </mat-select>
                    <mat-error>
                        Select at least one <strong>permission</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group  registerbtn">
                <button [disabled]="registrationForm.invalid" type="submit" mat-stroked-button color="primary">Register</button>
            </div>        
        
        
        </form>

    </div>
    <div class="form-group mt-4">
        <p class="login">Already have an account? <a [routerLink]="[ '/login' ]" routerLinkActive="active">Login</a></p>
    </div>   
    
</div>

