// @use "../../../cutomMaterialTheme.scss" as cmt;
// :root{
//     --grd_col: auto;

// }

.modal {
    --flex-size: 100%;
    background-color: white;
    padding: 0 2.5rem 1rem 2.5rem;
    // width: 60vw;
    z-index: 2;
    margin-inline: auto;
    margin-top: var(--top-space);
    // padding: 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    // background-color: var(--primary-light); // cmt.$primary-light;
    // border-bottom: 1px solid var(--primary); //cmt.$primary;

    .title {
        z-index: 5 !important;
        // color: white;
        // background-color: var(--primary); // cmt.$primary;
        // padding: 1rem;
        padding-top: var(--top-space);
        padding-left: 1rem;
        margin: 0;

        // height: 20%;
        div {
            display: flex;
            justify-content: space-between;
            vertical-align: middle;

            h1 {
                margin: 0;
            }
        }

    }

    form {
        // display: grid;
        width: 100%;
        margin-top: var(--top-space);
        // align-content: space-between;
        // align-items: space-between;
        gap: 1rem;
        // grid-template-columns: repeat(3,1fr);
        // overflow: auto;
        // margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // flex
        // width: max-content;

        // .firstName & {
        //     width: 100%;
        //     background: orange;
        //     border: 5px solid blue;
        // }

        // *>.address {
        //     display: block;
        //     flex-grow: 1;
        //     flex-shrink: 0;
        //     flex-basis: 100% !important;
        // }
    }
    .ng-star-inserted:nth-child(4){
        grid-column: var(--grd_col);
    }

    .form>* {
        width: 47%;
        // flex: 1;
        // flex-wrap: wrap;
        // flex-shrink: 1;
        // flex-basis: 30%;

    }

    .form>*:has(.address) {
        width: 100%;
        // background-color: orange;

    }

    .form>*:has(.description) {
        width: 100%;
        // background-color: orange;

    }
    .form>*:has(.saleDetails) {
        width: 100%;
        // background-color: orange;

    }
    .form>.totals {
        margin-top: var(--top-space);
        display: flex;
        flex-direction: row;
        mat-label{
            width: 50%;
            background-color: burlywood;
        }
        span{
            justify-self: end;
            width: 50%;
        }
    }
    // .form>*:has(.invoiceDate) {
    //     width: 50%;
    //     background-color: orange;
    // }
    // .form>*:has(.paymentDueDate) {
    //     width:50%;
    //     background-color: orange;
    // }

    // .form > .ng-star-inserted:nth-child(4){
    //     background-color: orange;
    //     width: 500px;
    // }

    .form>.ng-star-inserted:first-child {
        display: none;
    }

    .form>*>* {
        // padding: 1rem;
        width: 100%;
    }
    

    .dialog-actions {
        display: flex;
        padding: 1rem;
        justify-content: flex-end;

        button {
            background-color: white;
        }
    }


}

.firstName {
    visibility: visible;
    // background: pink;
    // .firstName &{
    //   width: 100%;
    //   background: orange;
    //   border: 5px solid blue;
    // }
}

// .ng-star-inserted:nth-of-type(2), .ng-star-inserted:nth-of-type(3){
//   border: 5px dashed red;
//   width: 50%;
//   height: fit-content;
// }

.ml {
    margin-left: 1rem;
}

@media (min-width: 768px) {

    .mat-dialog-content {
        padding: 1rem;
    }
}