<!-- <div class="topbackground"> TEST </div> -->
<!-- <p *ngIf="displayItem"> displayItem not empty {{displayItem | json}}</p> -->
<div id="print-area" class="modal roundBorders">

    <div class="title">
        <div>
            <h1> {{ Title }}</h1>
        </div>
    </div>

    <div>

        <form [formGroup]="itemform" (ngSubmit)="onSubmit()" class="form">
            <div *ngFor=" let prop of itemProperties;let i=index">

                <!-- <ng-container *ngIf="prop.formControlName === 'id'" style="display: none;">
                </ng-container> -->

                <ng-container *ngIf="prop.isBoolean">
                    <mat-form-field appearance="outline">
                        <mat-label>{{prop.labelsText}}</mat-label>
                        <mat-select matInput [formControlName]="prop.formControlName">
                            <mat-option [value]='true' >True</mat-option>
                            <mat-option [value]='false' >False</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <!-- ||| Table ||| -->
                <ng-container *ngIf="prop.needTable">
                    <app-table class="tableEmbed" [componentName]="'SaleDetail'" [ngClass]="prop.formControlName" [tableData]="saleDetailsData" [tableColumns]="saledetailscolumns" [isPageable]="false"
                    [isFilterable]="false" [hasActionColumn]="true" [isSortable]="false"
                    [hasCheckboxColumn]="false"  (actionEdit)="edit($event)" (actionAdd)="add($event)" 
                    (actionDelete)="delete($event)"> </app-table>
                    <!-- (onAdd)="updateTotals($event)" -->

                    <div class="addButton">
                        <button mat-stroked-button color="warn" type="button" (click)="addSaleDetail()">
                            <mat-icon>add</mat-icon>Add a Product
                        </button>
                    </div>
                </ng-container>

                <ng-container *ngIf="prop.needSelectInput">
                    <mat-form-field appearance="outline" [ngClass]="prop.formControlName">
                        <mat-label>{{prop.labelsText}}</mat-label>
                        <input type="text" matInput [formControlName]="prop.formControlName"  [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                            <ng-container *ngIf="prop.formControlName == 'status'">

                                <mat-option (click)="AddClient()">Add Status</mat-option>
                                <mat-option *ngFor="let status of SelectOptionsForStatus; let i=index" [value]="status">
                                     {{invoiceStatusDisplay[status]}}
                                </mat-option>
                            </ng-container>
                            <ng-container *ngIf="prop.formControlName == 'client'">

                                <mat-option (click)="AddClient()">Add Client</mat-option>
                                <mat-option *ngFor="let data of SelectOptionsForClient; let i=index" [value]="data">
                                    {{data.firstName +" "+ data.lastName}}
                                </mat-option>
                            </ng-container>

                        </mat-autocomplete>
                        <button type="button" *ngIf="!autoCompleteIsEmpty(prop)" matSuffix mat-icon-button
                            aria-label="Clear" (click)="resetAutoComplete(prop)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngIf="prop.needTextArea && !prop.needDatePicker">

                    <mat-form-field appearance="outline" [ngClass]="prop.formControlName">
                        <mat-label> {{ prop.labelsText }} </mat-label>
                        <textarea matInput [formControlName]="prop.formControlName"></textarea>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngIf="prop.needDatePicker">

                    <mat-form-field appearance="outline" [ngClass]="prop.formControlName">
                        <mat-label>{{ prop.labelsText }}</mat-label>
                        <input matInput [matDatepicker]="picker" [formControlName]="prop.formControlName">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                </ng-container>

                    <!-- && prop.formControlName != 'subTotal' && prop.formControlName != 'tax' && prop.formControlName != 'total' -->
                <ng-container *ngIf="!prop.isBoolean && !prop.needTextArea && !prop.needSelectInput && !prop.needDatePicker && !prop.needTable
                 && prop.Included && !prop.needAutoComplete && prop.formControlName != 'sale'">

                    <mat-form-field appearance="outline" [ngClass]="prop.formControlName">
                        <mat-label> {{ prop.labelsText }} </mat-label>
                        <span *ngIf="prop.isMoney"  class="currency">$&nbsp;</span>
                        <input class="inputField" matInput [type]="prop.type" placeholder="" color="primary" [formControlName]="prop.formControlName">
                    </mat-form-field>

                </ng-container>

                <ng-container *ngIf="prop.needAutoComplete">

                    <div class="form-group permissions">
                        <mat-form-field appearance="outline" class="formfield" [ngClass]="prop.formControlName">
                            <mat-label>Permissions</mat-label>
                            <mat-select [formControlName]="prop.formControlName" [compareWith]="compareFn" multiple>
                                <mat-option *ngFor="let role of rolesOptions" [value]="role">{{role.name}}</mat-option>
                            </mat-select>
                            <mat-error>
                                Select at least one <strong>permission</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>

                <ng-container *ngIf="prop.formControlName == 'sale'">
                    <ng-container>
                        <div formGroupName="sale" class="totals">
                            <div> <mat-label> Subtotal :    </mat-label> <input matInput [attr.disabled]="true" [type]="prop.type" placeholder="" color="primary" formControlName="subTotal"> </div>
                            <div> <mat-label> Tax :         </mat-label> <input matInput [attr.disabled]="true" [type]="prop.type" placeholder="" color="primary" formControlName="tax"> </div>
                            <div> <mat-label> Total :       </mat-label> <input matInput [attr.disabled]="true" [type]="prop.type" placeholder="" color="primary" formControlName="total"> </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>

        </form>

                        
                        


    </div>

   
    <div class="dialog-actions">
        <button mat-stroked-button (click)="Cancel()">Cancel</button>
        <!-- <button mat-stroked-button class="ml" (click)="print()">Print</button> -->
        <button mat-stroked-button class="ml" type="button" (click)="onSubmit()"
            color="primary">Save</button>
    </div>

</div>