<!-- <div class="topbackground"> TEST </div> -->
<div class="modal roundBorders">

    <div class="title">
        <div>
            <h1> {{ Title }}</h1>
        </div>
    </div>

    <div>

        <form [formGroup]="itemform" (ngSubmit)="onSubmit()" class="form">
            <div *ngFor=" let prop of itemProperties;let i=index">

                <!-- <ng-container *ngIf="prop.formControlName === 'id'" style="display: none;">
                </ng-container> -->

                <ng-container *ngIf="prop.isBoolean">

                    <mat-form-field appearance="outline">
                        <mat-label>{{prop.labelsText}}</mat-label>
                        <mat-select matInput [formControlName]="prop.formControlName">
                            <mat-option value=true>True</mat-option>
                            <mat-option value=false>False</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <!-- ||| Table ||| -->
                <ng-container *ngIf="prop.needTable">
                    <app-add-edit-table [ngClass]="prop.formControlName" [tableData]="saleDetailsData" [tableColumns]="saledetailscolumns" [isPageable]="false"
                    [isFilterable]="false" [hasActionColumn]="true" [isSortable]="false"
                    [hasCheckboxColumn]="false"  (actionEdit)="edit($event)"
                    (actionDelete)="delete($event)"> </app-add-edit-table>
               

                </ng-container>

                <ng-container *ngIf="prop.needSelectInput">
                    
                    <mat-form-field appearance="outline" [ngClass]="prop.formControlName">
                        <mat-label>{{prop.labelsText}}</mat-label>
                        <input type="text" matInput [formControlName]="prop.formControlName" [value]="prop.value" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <!-- <mat-option value="{}">
                    </mat-option> -->
                            <mat-option (click)="AddClient()">Add Client</mat-option>
                            <mat-option *ngFor="let data of selectInputData" [value]="data">
                                {{data.firstName +" "+ data.lastName}}
                            </mat-option>
                        </mat-autocomplete>
                        <button type="button" *ngIf="!autoCompleteIsEmpty(prop)" matSuffix mat-icon-button
                            aria-label="Clear" (click)="resetAutoComplete(prop)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngIf="prop.needTextArea">

                    <mat-form-field appearance="outline" [ngClass]="prop.formControlName">
                        <mat-label> {{ prop.labelsText }} </mat-label>
                        <textarea matInput [formControlName]="prop.formControlName"></textarea>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngIf="prop.needDatePicker">

                    <mat-form-field appearance="outline" [ngClass]="prop.formControlName">
                        <mat-label>{{ prop.labelsText }}</mat-label>
                        <input matInput [matDatepicker]="picker1" [formControlName]="prop.formControlName">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                </ng-container>

                <ng-container *ngIf="!prop.isBoolean && !prop.needTextArea && prop.formControlName != 'id' && !prop.needSelectInput && !prop.needDatePicker && !prop.needTable">

                    <mat-form-field appearance="outline" [ngClass]="prop.formControlName">
                        <mat-label> {{ prop.labelsText }} </mat-label>
                        <input matInput placeholder="" color="primary" [formControlName]="prop.formControlName">
                    </mat-form-field>
                    <!-- <label for="prop.formControlName">{{ prop.labelsText }}</label>
                <input placeholder="" name="prop.formControlName" [formControlName]="prop.formControlName"> -->

                </ng-container>
                <!-- <mat-form-field appearance="outline"> -->
                <!-- <mat-label> {{ prop.labelsText }} </mat-label> -->
                <!-- <input matInput placeholder="" [formControlName]="prop.formControlName"> -->
                <!-- </mat-form-field> -->


            </div>

            <!-- <button mat-flat-button color="accent">Accent</button> -->
            <div></div>

            <div  class="totals">
                <!-- *ngIf="" -->
                <ng-container >
                    <!-- <div> -->
                       <div> <mat-label> Sub Total : </mat-label> <span>{{subTotal}}</span> </div>
                       <div> <mat-label> Tax :</mat-label> <span>{{tax}}</span> </div>
                       <div> <mat-label> Total :</mat-label> <span> {{total}}</span> </div>
                    
                    <!-- </div> -->
                </ng-container>
        

            </div>
        </form>

    </div>

   
    <div class="dialog-actions">
        <button mat-stroked-button (click)="Cancel()">Cancel</button>
        <button mat-stroked-button class="ml" type="button" (click)="onSubmit()"
            color="primary">Save</button>
    </div>

</div>