<!-- 
<ul *ngFor="let product of productList; let i = index">
  <li>{{ product.productName }}</li>
</ul> -->
<div class="container-fluid" *ngIf="productList">
  <app-table
    [tableData]="productList"
    [tableColumns]="productsTableColumns"
    [isPageable]="true"
    [isFilterable]="true"
    [paginationSizes]=""
    [defaultPageSize]=""
    [hasActionColumn]="true"
    [hasCheckboxColumn]="true" 
    [componentName]="componentName"
    (actionEdit)="edit($event)"
    (actionDelete)="delete($event)"
  >
  </app-table>
  <!-- <button (click)="getProducts()">Get Products</button> -->
</div>